<div class="note">
  <div class="details">
    <p><%= note.created_at %></p>
    <p><%= note.staff.first_name %></p>
  </div>
  <div class="content details">
    <p><%= note.details %></p>
  </div>
</div>