@import "_main.scss";

.summary, .note {
  max-width: 890px;
  color: $color-form-font;
  display: grid;
  background-color: $color-form-bg;
  border-radius: 0.25em;
  border: 1px solid $color-form-border;
  box-shadow: 0 0 0.125em $color-shadow;
  > * {
    margin: .5em;
  }
  margin-bottom: .5em;
}

.patient, .appointment, .admission {
  grid-auto-columns: min-content auto auto;
  > .menu, .card-title {
    grid-column: 1 / 4;
  }
}

.note, .tpr, .intervention, .schedule, .customer {
  > .menu, .card-title {
    grid-column: 1 / 3;
  }
}

.details {
  p {
    padding: 0.25em;
    border: 1px solid $color-form-field-border;
    border-radius: 0.15em;
    margin-top: 0;
    margin-bottom: .25em;
    > a {
      color: $color-highlight;
      font-weight: 800;
    }
    > a:hover {
      color: $color-highlight-2;
    }
  }
}

h1 {
  margin-top: 0;
}

.patient-image {
  width: 200px;
  height: 200px;
  > img {
    border-radius: 0.25em;
    border: 2px solid $color-highlight-2;
    width: 100%;
    height: 100%;
  }
}

.admission-tabs {
  .selected-data {
    background-color: white;
    margin-top: -1px;
    padding: .5em;
    border: 1px solid lightgrey;
    border-radius: 0.25em;
  }
  .tabs {
    > ul {
      list-style: none;
      margin: 0;
      > li {
        display: inline-block;
        margin: 0;
        padding: .5em;
        box-sizing: unset;
        background-color: lightgrey;
        border-radius: .5em .5em 0em 0;
      }
      > li.selected {
        z-index: 1;
        box-sizing: border-box;
        background-color: white;
        border: 1px solid lightgrey;
        border-bottom: none;
      }
    }
  }
}

fieldset {
  display: block;
  border:0;
  padding:0;
  margin:0;
  label {
    text-align: right;
    font-size: .75em;
    padding-left: .5em;
    color: $color-form-label
  }
  .notes {
    padding: 0.25em;
    border: 1px solid $color-form-error;
    border-radius: 0.15em;
    margin-top: 0;
    margin-bottom: .25em;
  }
  input, textarea {
    font-size: 1em;
    border: 1px solid $color-form-field-border;
    border-radius: .25em;
    color: $color-form-font;
    padding: 0.25em;
    box-shadow: 0 0 0.25em $color-shadow;
  }
  textarea {
    box-sizing: border-box;
    display: block;
    height: 5.45em;
    width: 100%;
    resize: none;
  }
}
.span-2 {
  grid-column: span 2;
}

form {
  display: grid;
  // grid-template-columns: repeat(4,1fr);
  grid-gap: .5em;
  font-size: 1em;
  
  button {
    grid-column: 4/4;
  }
  button:hover {
    background-color: $color-highlight;
  }
}

.messagebox {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: .25em;
  padding: 0 2em 1em 2em;
}

.btn {
  background-color: $color-highlight-2;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: 0 0 .25em $color-shadow;
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  padding: .375rem .75rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: $color-highlight;
  border-color: $color-highlight-2;
}

.btn-submit {
  display: inline-block;
  margin: auto 0 0 auto;
}

input {
  border-radius: 0.25em;
  font-size: 1rem;
  border: 1px solid $color-form-field-border;
  background-color: $color-form-field-bg;
  display: block;
}

.card-title {
  color: white;
  background-color: $color-highlight-2;
  margin: 0;
  padding: .25em;
  > a {
    display:block;
  }


}
.card-title:hover {
  background-color: $color-highlight;
}