nav {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li:hover {
      background-color: lightseagreen;
    }
    > li {
      color: white;
      background-color: royalblue;
      > span {
        padding: .25em;
        display: inline-block;
      }
      .submenu {
        list-style: none;
        padding: 0;
        > li {
          background-color: skyblue;
          box-sizing: content-box;
          padding: 0 .5em;
          height: 0em;
          overflow: hidden;
          transition: height .5s ease-in-out, padding .5s ease-in-out;
        }
      }

    }
    > li.active > .submenu > li {
      padding: .5em .5em;
      height: 1em;
    }
  }
}
