<div class="menu">
  <ul>
    <li>
      Add Note
    </li><li>
      TPR
    </li><li>
      Add Schedule
    </li><li>
      Discharge
    </li><li>
      Cage Card
    </li><li>
      Patient Record
    </li>
  </ul>
</div>